/*
colors:

#0065C3
#054288
#0a58ca
#e6ebf3
#00aced
#e4405f
#bb0000

*/

@import url(webfont.css);


.main{
    width: 100%;  
	min-height: 800px;  
	background: linear-gradient(rgb(0 101 195 / 45%),rgba(180, 192, 180, 0.048)),url(../img/header-img.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
    font-family: 'Sofia','arial','helvetica';
    font-weight: normal;
}
/*////////////////////////////////////// NAV /////////////////////////////////////*/
.navbar{
background-color: #0065C3;
width: 100%;
min-height: 80px;
}

.nav-link{
    color:#fff;
}

.nav-link:hover {
    color: #054288;
}


.btn-primary{
    border-radius:20px;
    transition: all .5s ease-in-out;

}
.btn-primary:hover {
    color: #0a58ca;
    background-color: #e6ebf3;
    border-color: #0a58ca;
}

.dropdown-menu {
    background-color: #0a58ca;
    color:#fff;
    transition: all .5s ease-in-out;

}
.dropdown-menu:hover{
    background-color: #054288;
}
.dropdown-item {
    color: #fff;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #e6ebf3;
}

/*////////////////////////////////////// END NAV /////////////////////////////////////*/


/*////////////////////////////////////// section 1 Header /////////////////////////////////////*/

.header{
    color: #fff;
    width: 100%;
    min-height:500px;
}
.video {
    max-width: 100%;
    height: auto;
  }


/*////////////////////////////////////// section 2 /////////////////////////////////////*/
    .sec{
    max-width: 100%;  
    min-height: 500px;
    max-height: 700px;
	background:linear-gradient(rgb(0 101 195 / 45%),rgba(223, 247, 223, 0.048)),url(../img/wallpaper.jpg);
	background-size: contain; 
	background-position: center;
	background-repeat: no-repeat;
    opacity: 0;
}
    
/*////////////////////////////////////// section 3 /////////////////////////////////////*/

.third{
    width: 100%;  
    min-height:400px;
}

.soda1,.soda2,.soda3,.soda4{
    
    height: 300px;
    border:1px solid #e6ebf3;
    border-radius:10px;
}
.soda1{
    background: #054288 url(../img/soda1.png) no-repeat;
    background-size: 100%;
    background-position: center;
}
.soda2{
    background: #054288 url(../img/soda2.png) no-repeat;
    background-size: 100%;
    background-position: center;
}
.soda3{
    background: #054288 url(../img/soda3.png) no-repeat;
    background-size: 100%;
    background-position: center;
}
.soda4{
    background: #054288 url(../img/soda4.png) no-repeat;
    background-size: 100%;
    background-position: center;
}
.join1,.join2,.join3,.join4{
    width:100%;
    height: 100%;
	background: rgba(236, 4, 4, 0.7);
    overflow: hidden;
    color:#FFF;
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    clip-path: circle(2px at 0 0);
    transition: all .5s ease-in-out;
}
.soda1:hover .join1{
    clip-path: circle(90%  at 0 0);
}

.soda2:hover .join2{
    clip-path: circle(90%  at 0 0);
}

.soda3:hover .join3{
    clip-path: circle(90%  at 0 0);
}
.soda4:hover .join4{
    clip-path: circle(90%  at 0 0);
}

/*//////////////////////////////////////Last section/////////////////////////////////////*/
.last{

    width: 100%;
    min-height: 400px;
    background:linear-gradient(rgb(0 101 195 / 45%),rgba(223, 247, 223, 0.048)),url(../img/caed.jpg);
    background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
    opacity: 0;
}


/*//////////////////////////////////////footer/////////////////////////////////////*/
.footer{
    min-height: 400px;
    width: 100%;
    opacity: 0;

}
.social{
    min-height:150px;
    border-radius: 50px;
}
.facebook{
background-color: #0a58ca;
}
.twitter{
    background-color: #00aced;
}
.instagram{
    background-color: #e4405f ;

}
.youtube{
    background-color: #bb0000;

}
.top-page{
    background-color: rgb(8 79 147);
    color: #fff;
    height:50px;
    width: 50px;
}
.top-page:hover{
    background-color:#7096b8;
    transition: all .5s ease-in-out;

}
.arrow{
    font-size: 20px;
    font-weight: bold;
}