
@import url(webfont.css);
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    min-height: 1000px;
    background: #f9f9f9   !important;
    transition: all 1s ease-in;
}
.navbar{
    background: #7EBF8E;
    z-index: 999;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active{
    transition: all 1s ease-in;
}
.bg{
    height: 570px;
    background: url(../images/bgggg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header{
    min-height: 300px;
}
.dd{
    min-height: 150px;
}
.d1{
    height: 150px;
    background: #7ebf8ead ;
    color: #fff;
}
.d2{
    height: 150px;
    background: #f25a38b0 ;
}
.d3{
    height: 150px;
    background: #7ebf8ead ;
}
.d4{
    height: 150px;
    background: #7ebf8ead ;
}
.nav-item a:hover{
    background: #03A688 ;
    border-radius: 10px;

}
h3,h4,h2{
    color: aliceblue;
}
h5{
    font-size:2em;
}
section{
    min-height: 300px;
}


/**********************************************Ruby Section*****************************************/
.rd1{
    min-height: 200px;
    background: #03A688;
}
.rd2{
    min-height: 200px;
    background:url(../images/about-pic2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rd3{
    min-height: 200px;
    background: #03A688;
}
.rd4{
    min-height: 200px;
    background: url(../images/about-pic1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rd5{
    min-height: 200px;
    background: #F25A38;
}
.rd6{
    min-height: 200px;
    background: url(../images/about-pic3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/**********************************************Our Process Section*****************************************/
.op1{
    min-height: 200px;
    background: #F25A38;
}
.op2{
    min-height: 200px;
    background: #F2EA77;
}
.op3{
    min-height: 200px;
    background: #7EBF8E;
}
.op4{
    min-height: 200px;
    background: #03A688;
}

.process{
    min-height: 400px;
    background-image:linear-gradient(0deg,rgba(29, 185, 206, 0.2),rgba(32, 194, 186, 0.2)),url(../images/ccc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
/**********************************************Our Blog Section*****************************************/
aside{
    min-height: 300px;
}

.li{
    border: 1px solid #000;
    transition: all 1s ease-in-out;
}
.li:hover{
    background:#7EBF8E ;
    cursor: pointer;
}
.active{
    background:#7EBF8E ;
}
.work{
    min-height: 80px;
    background: #F25A38;
}
.btn{
    min-height: 40px;
    transition: all 1s ease-in-out;
}
.text{
    color: #fff;
}

.map{
    background: #F25A38;
}
.footer{
    min-height: 50px;
}